@use 'sass:map';
@use './variables' as vars;

// Spacing function
@function spacing($key) {
  @return map.get(vars.$spacing, $key);
}

// Border radius function
@function radius($key) {
  @return map.get(vars.$radius, $key);
}

// Font size function
@function font-size($key) {
  @return map.get(vars.$font-sizes, $key);
}

// Font weight function
@function font-weight($key) {
  @return map.get(vars.$font-weights, $key);
}

// Breakpoint function
@function breakpoint($key) {
  @return map.get(vars.$breakpoints, $key);
}
