.container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  
  &:focus-visible + .track {
    outline: 2px solid var(--mat-sys-primary);
    outline-offset: 2px;
  }
}

.track {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
  border-radius: var(--mat-sys-corner-full);
  background-color: var(--mat-sys-surface-variant);
  border: 2px solid var(--mat-sys-outline);
  transition: all 200ms;
  
  .input:checked + & {
    background-color: var(--mat-sys-primary);
    border-color: var(--mat-sys-primary);
  }
  
  .input:disabled + & {
    opacity: 0.38;
    cursor: not-allowed;
  }
}

.thumb {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: var(--mat-sys-corner-full);
  background-color: var(--mat-sys-outline);
  transition: all 200ms;
  
  .input:checked + .track & {
    left: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--mat-sys-on-primary);
  }
}
